@model MercadoFitz.Models.XmlModel
@{
    ViewData["Title"] = "Calcular Nota";

}
<form method="post" enctype="multipart/form-data" asp-controller="NotaXml" asp-action="CalcularXml">
    <label for="Selecao-Arquivos" class="btn btn-outline-primary">Selecionar Xml</label>
    <input id="Selecao-Arquivos" type="file" name="arquivos" multiple />
    <br />
    <button class="btn btn-outline-secondary">Carregar Xml</button>
</form>
@if (Model != null)
{

    <partial name="_Produtos" />
}